* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f7fa;
  font-family: Montserrat;
}

.wrapper {
  background: #fff;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
  width: 700px;
}

.sidebar-h3-item {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: grey;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
  color: #fff;
}

.sidebar-li-marker {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: orange;
}

.sidebar-li-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}
.sidebar-container {
  padding: 20px;
  box-sizing: border-box;
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-h3-item {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #595959;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
}
.projects-item {
  font-weight: 700;
  margin-left: 17px;
  text-align: left;
}

.projects-container {
  margin-bottom: 55px;
}
.about-me-h4-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 17px;
}
.proffesion-company {
  color: #ff6b08;
  margin-bottom: 14px;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profession-divider {
  color: #000000;
}

.profession-duties {
  margin-top: 14px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
